<%- include("partials/header") %>
    <h1>This is a show template</h1>
    <p>
        <%= place.name %>
    </p>
    <img src="<%= place.image %>" alt="">
    <p>
        <%= place.description %>
    </p>
 <%- include("partials/footer") %>